<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1><a href="/">Please Discuss</a></h1>
    </div>

    <ul>
      <li><a href="/sessions/logout">Log Out</a></li>
    </ul>

  </div><!-- /.container-fluid -->
</nav>