

<header class="page-header">
  <h1>Lodging</h1>
</header>


<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href="#hotels" aria-controls="hotels" role="tab" data-toggle="tab">Hotels</a>
  </li>
  <li role="presentation">
    <a href="#motels" aria-controls="motels" role="tab" data-toggle="tab">Motels</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  
  <!-- Hotels -->
  <div role="tabpanel" class="tab-pane active" id="hotels">
    <ol class="list-group">
      {{#each hotels as |hotel| }}
        <li class="list-group-item">
          <div class="ratable hotel">
            <h3>{{ hotel.name }}</h3>
            <h4>Rating: {{ hotel.rating }}</h4>
          </div>
        </li>
      {{/each}}
    </ol>
  </div>

  <!-- Motels -->
  <div role="tabpanel" class="tab-pane" id="motels">
    <ol class="list-group">
      {{#each motels as |motel| }}
        <li class="list-group-item">
          <div class="ratable motel">
            <h3>{{ motel.name }}</h3>
            <h4>Rating: {{ motel.rating }}</h4>
          </div>
        </li>
      {{/each}}
    </ol>
  </div>
</div>















