</nav>
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-6" style="display: block; margin-right:auto; margin-left:auto; margin-top: 10%;">
      <form class="form-group" action="/login" method="post">
        <h3>Login</h3>
        <label>Username: </label><input class="form-control" type="text" placeholder="Username" name="username">
        <label>Email: </label><input class="form-control" type="email" placeholder="Email" name="email">
        <br>
        <button class="btn btn-primary form-control" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
