<div class="panel panel-default">
  <div class='panel-heading'>
    {{comment.user.username}}
  </div>
  <div class="panel-body">
    {{comment.message}}
  </div>
  <div class='panel-footer'>
    <ul class='list-unstyled'>
    	{{#each comment.comments as |childComment|}}
        {{>childComment comment=childComment}}
      <li>
        <ul>
          {{#each childComment.comments as |childChildComment|}}
            {{>bottomChildComment comment=childChildComment}}
          {{/each}}
        </ul>
    	</li>
    	{{/each}}
    </ul>
  </div>
</div>
