<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
      Please Discuss
    </title>

    <!-- Include Bootstrap/jQuery here -->
    <!-- Bootstrap core CSS -->
    <link href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/stylesheets/style.css" rel="stylesheet">
   

  </head>
  <body>
    {{> shared/_nav }}
    <main class="container">
      {{{ body }}}
    </main>
  </body>
</html>