<h2>New Comment</h2>

<h4>Commenting on a {{parentType}}</h4>

<p>
  Original Message: {{parent.body}}
</p>

<form action="/posts/{{parent.parent_post.id}}" method="post">
  <div class="form-group">
    <label for="body">Body: </label>
    <input type="text" class="form-control" id="body">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
