<h1>New Comment</h1>

<form action="/comments/new/{{id}}/{{type}}" method="POST">
   <div class="form-group">
      <h5>Original Message</h5>
      <p>{{parent.text}}</p>
      <input type="text" class="form-control" name="comment[text]" id="text" placeholder="Your Comment">
   </div>

   <div class="form-group">
      <input type="submit" class="btn btn-primary">
   </div>
</form>