<form action='/', method='POST'>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" name="email" value='awesomeEmail@yahoo.com'>
  </div>
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" name="username" value='Bob'>
  </div>
  <button type="submit" class="btn btn-default">Login/Signup</button>
</form>
