<h1>Front Page</h1>

<ol class="list-group">
  {{#each memesByScore as |meme|}}
    <li class="list-group-item">
      <div class="float-left">
        <a href="#">Upvote</a><br>
        <a href="#">Downvote</a>
      </div><br>
      <div class="float-right">
        <h2><a href="{{meme.url}}">{{meme.title}}</a></h2>
        <h5><a href="/meme/{{meme._id}}">Comments</a></h5>
        <h4>Score: {{meme.score}}</h4>
      </div>
    </li>
  {{/each}}
</ol>
