<h1>Reply:</h1><br>
<h3>{{comment.body}}</h3><br>
<div class="form form-group">
  <form class="" action="/post/{{comment.meme}}/comment/{{comment.id}}" method="post">
    <div class="form-group">
      <input type="text" name="comment[comment]" value=""><br>
    </div>
    <div class="from-group">
      <input type="submit" name="" value="Sumbit Comment" class="btn btn-default">
    </div>
  </form>
</div>
