.navbar {
  border-radius: 0px;
}

.score {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
}

a.upvote,
a.downvote {
  color: white;
}

a.upvote:hover,
a.downvote:hover,
a.reply:hover {
  text-decoration: none;
}

a:hover {
  transition: color .5s ease, background-color .5s ease;
}

.btn:hover {
  transition: background-color .5s ease;
}
div.comment {
  position: relative;
  left: 20px;
  border: solid 2px #777;
  border-radius: 5px;
  padding: 12px;
  width: 90%;
  padding-right: 0%;
  margin-top: 20px;
}
.btn-primary a {
  color: white
}

.main-post {
  font-size: 1.2em;
  margin: 30px 0px;
}

.comments-section {
  margin-bottom: 4em;
}