<div class="form-group">
   <h2>Log In</h2>
   <h3>to Use Please Discuss</h3>

   <form action="/sessions/login" method="POST">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="user[username]" id="username">

      <label for="email">Email</label>
      <input type="text" class="form-control" name="user[email]" id="email">

      <div class="form-group">
         <input type="submit" class="btn btn-primary">
      </div>

   </form>
</div>