<form class="" action="/" method="post">
  Username:
  <input type="text" name="username" value=""> <br>
  Email:
  <input type="text" name="email" value=""><br>
  <input type="submit" name="" value="Log In">
</form>
