<h1>New User</h1>

<form action="/users/new" method="POST">
   <div class="form-group">
      <input type="text" class="form-control" name="user[fname]" id="title" placeholder="First Name">
      <input type="text" class="form-control" name="user[lname]" id="text" placeholder="Last Name">
      <input type="text" class="form-control" name="user[username]" id="text" placeholder="Username">
      <input type="text" class="form-control" name="user[email]" id="text" placeholder="Email">
   </div>

   <div class="form-group">
      <input type="submit" class="btn btn-primary">
   </div>
</form>