<form class="" action="/users" method="post">
  first name:
  <input type="text" name="firstname" value=""><br>
  last name:
  <input type="text" name="lastname" value=""><br>
  username:
  <input type="text" name="username" value=""><br>
  email:
  <input type="text" name="email" value=""><br>

  <input type="submit" name="" value="Create User">
</form>
