<h1>Posts</h1>
<div class="form-group">
   <input type="submit" class="btn btn-primary" text="New Post">
</div>
{{#if posts.length}}
   <div class="post-box">
      {{#each posts as |post|}}
         <a>Upvote</a>
         <a>Downvote</a>
         <h2>{{post.rating}}</h2>
         <h3>{{post.title}}</h3>
         <p>{{post.text}}</p>
         <a href="/comments/new/{{post._id}}">Comment on this post</a>
      {{/each}}
   </div>
{{/if}}

{{#else}}
   <p>No Posts</p>
{{/else}}