<header class="page-header">
  <h1>Post: {{ post.id }}</h1>
  <a href="/users/{{ post.id }}/edit" class="btn btn-primary">Edit</a>
  <a href="/users/{{ post.id }}?_method=delete" class="btn btn-danger">Delete</a>
</header>

<p>{{post.body}}</p>
<!-- <div class="container" > -->
<!-- <div class="row" > -->
<!-- <div class -->
<!-- </div> -->

